﻿
@{
    ViewBag.Title = "Error500";
}
<link href="~/Content/style500.css" rel="stylesheet" />


<div id="error">Error</div>
<div class="error-num">
    500
    <div class="error-num__clip">500</div>
</div>
<p id="desc">Ha ocurrido un problema.</p>
<p>Mejor vuelve a  <a href="/Shop" target="_blank">a la tienda</a></p>

