﻿
@{
    ViewBag.Title = "Error404";
}

<h2>Error404</h2>

<link href="~/Content/style404.css" rel="stylesheet" />
<div class="error">404</div>
<br />
<br />
<span class="info">Página no encontrada</span>
<img src="http://images2.layoutsparks.com/1/160030/too-much-tv-static.gif" class="static" />

