﻿@model Eshop.MVC.Models.ProductEditModel

@{
    ViewBag.Title = "Edit";

    var modelId = Model.Id;


}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.js"></script>

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>ProductListAdmin</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UnitsInStock, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UnitsInStock, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UnitsInStock, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Duration, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Duration, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Duration, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.YtURL, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.YtURL, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.YtURL, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.SelectedCategory, Model.Categorias, Model.Category.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })

            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Actualizar Producto" class="btn btn-success" />
            </div>
        </div>

        @*TABLA DE IMAGENES*@
        <div class="container">
            <h3>Imágenes del producto</h3>


            @if (Model.Imagenes.Count < 1)
            {
                @Html.Raw("El producto no tiene imágenes");
            }
            else
            {

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Imagen</th>
                            <th>ID</th>
                            <th>URL</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        @for (int i = 0; i < Model.Imagenes.Count; i++)
                        {

                            <tr>
                                <td><img src="@Model.Imagenes[i].urlImage" width="50" height="50" /></td>
                                <td>@Model.Imagenes[i].Id</td>
                                <td>@Model.Imagenes[i].urlImage</td>
                                <td>
                                    <button data-id="@Model.Imagenes[i].Id" type="button" class="close btnRemoveImage" aria-label="Close" style="color:red; font-size: 50px; margin-right:20px">
                                        <span aria-hidden="true">&times;</span>
                                    </button>


                                </td>
                            </tr>

                        }

                    </tbody>
                </table>
            }






        </div>



        @*MODAL*@
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10" style="margin-left:0px">
                <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#modalImagenes">Añadir Imágenes</a>

            </div>

            <div class="modal fade" id="modalImagenes">
                <div class="modal-dialog" style="background-color:white; margin-top:10%">

                    <div class="modal-header">
                        <a href="#" class="close" data-dismiss="modal">&times;</a>

                        <h3 class="modal-title">Añade nueva imagen</h3>
                    </div>

                    <div class="modal-body">
                        <form id="imgForm">


                            <input type="email" class="form-control" id="imgUrlData" placeholder="Introduce la url...">
                        </form>
                    </div>

                    <div class="modal-footer">

                        <a href="#" class="btn btn-default" data-dismiss="modal">Cancelar</a>
                        <input type="reset" value="Añadir" class="btn btn-success" id="btnAddImage" data-id="@Model.Id" />


                    </div>

                </div>


            </div>



        </div>




    </div>
}

<div>
    @Html.ActionLink("Volver al listado", "Index")
</div>

<script>

    $(document).ready(function () {

        $("#btnAddImage").click(function () {

            var productId = $(this).data("id");
            var urlImage = $('#imgUrlData').val();
            var prueba = 1;

            $.ajax({
                type: "POST",
                url: "../AddImage",
                data: { idProducto: productId, urlImageParam: urlImage },
                success: function (data) {


                    location.reload();
                }
            });

        })

        $(".btnRemoveImage").click(function () {

            var imageId =  $(this).data("id");
            var prueba = 1;

            $.ajax({
                type: "POST",
                url: "../RemoveImage",
                data: {idImage: imageId },
                success: function (data) {


                    location.reload();
                }
            });

        })

    })

</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
