﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="UserList2.aspx.cs" Inherits="Eshop.Web.Admin.Users.UserList2" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <section>
        <div>
            <hgroup>
                <h2><%: Page.Title %></h2>
            </hgroup>

            <asp:ListView ID="productList" runat="server" 
                DataKeyNames="Id" GroupItemCount="4"
                ItemType="Eshop.CORE.ApplicationUser" SelectMethod="GetAll">
                <EmptyDataTemplate>
                    <table >
                        <tr>
                            <td>No data was returned.</td>
                        </tr>
                    </table>
                </EmptyDataTemplate>
                <EmptyItemTemplate>
                    <td/>
                </EmptyItemTemplate>
                <GroupTemplate>
                    <tr id="itemPlaceholderContainer" runat="server">
                        <td id="itemPlaceholder" runat="server"></td>
                    </tr>
                </GroupTemplate>
                <ItemTemplate>
                    <td runat="server">
                        <table>
                            <tr>
                                <td>
                                    <a href="ProductDetails.aspx?productID=<%#:Item.Id%>">
<%--                                         <img src="/Images/<%#:Item.Name+".png"%>"--%>
                                         <img src="/Images/jack.jpg"

                                            width="100" height="75" style="border: solid" />
                                        </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="ProductDetails.aspx?productID=<%#:Item.Id%>">
                                        <span>
                                            <%#:Item.UserName%>
                                        </span>
                                    </a>
                                    <br />
                                    <span>
<%--                                        <b>Email: </b><%#:String.Format("{0:c}", Item.Email)%>--%>
                                    </span>
                                    <br />
<%--                                    Anadimos enlace a AddToCart--%>
                                    <a href="AddToCart.aspx?productID=<%#:Item.Id %>">               
                                        <span class="ProductListItem">
                                            <b>Add To Cart<b>
                                        </span>           
                                    </a>
                                    <br />
                                    <span>
                                        <b>E-mail: <%#:Item.Email.ToString() %></b>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                        </table>
                        </p>
                    </td>
                </ItemTemplate>
                <LayoutTemplate>
                    <table style="width:100%;">
                        <tbody>
                            <tr>
                                <td>
                                    <table id="groupPlaceholderContainer" runat="server" style="width:100%">
                                        <tr id="groupPlaceholder"></tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                            </tr>
                            <tr></tr>
                        </tbody>
                    </table>
                </LayoutTemplate>
            </asp:ListView>
        </div>
    </section>
</asp:Content>
