﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    <link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Eshop MiguelM", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">

                @if (Request.IsAuthenticated)
                {
                    if (User.IsInRole("Client"))
                    {
                        @Html.ActionLink("Tienda", "Index", "Shop", new { area = "" }, new { @class = "navbar-brand" })
                        @Html.ActionLink("Mis Pedidos", "Index", "Order", new { area = "Client" }, new { @class = "navbar-brand" })
                    }
                    if (User.IsInRole("Admin"))
                    {
                        <ul class="nav navbar-nav">
                            @Html.ActionLink("Tienda", "Index", "Shop", new { area = "" }, new { @class = "navbar-brand" })
                            @Html.ActionLink("Mis Pedidos", "Index", "Order", new { area = "Client" }, new { @class = "navbar-brand" })
                            @Html.ActionLink("Portal Administración", "Index", "Home", new { area = "Administrator" }, new { @class = "navbar-brand" })


                        </ul>
                    }
                }
                else
                {
                    @Html.ActionLink("Tienda", "Index", "Shop", new { area = "" }, new { @class = "navbar-brand" })

                }


                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/cart")
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>

    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#productAdminList').DataTable();
            $('#orderAdminList').DataTable();
            $('#usersAdminList').DataTable();
            $('#roleAdminList').DataTable();


        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
