﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)


{
    using (Html.BeginForm("LogOff", "Account", "", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hola " + User.Identity.GetUserName() + "!", "Home", "Client", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a></li>
            <i class="shopping-cart"> <a href="@Url.Action("Index", "ShoppingCart", "")" ><span class="badge badge-light transparent cartItems">@GetItemsCount()</span></a>  </i>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        <li style="padding-left:15px">
            <i class="shopping-cart"> <a href="@Url.Action("Index", "ShoppingCart", "")" ><span class="badge badge-light transparent cartItems">@GetItemsCount()</span></a>  </i>
            @*<a href="@Url.Action("Index", "Shop")" class="btn">EXPLORA NUESTRO CATÁLOGO</a>*@

        </li>
    </ul>
}

@helper GetItemsCount()
{
    Dictionary<int, int> cart = Session["CartItem"] as Dictionary<int, int>;
    if (cart == null)
    {
        <text>0</text>
    }
    else
    {
        <text>@cart.Sum(e => e.Value)</text>
    }
}
