﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Ha ocurrido un error, contacte con su administrador.</h2>
<a href="https://localhost:44337/Shop" class="btn btn-info">Vuelve a Inicio</a>

