﻿@model IEnumerable<Eshop.MVC.Models.CartItemModel>

@{
    ViewBag.Title = "Index";
    var totalPriceOrder = 0;
}
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="container">
    <div class="row" style="margin-top:50px">
        <h2>Carrito</h2>
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <table class="table table-hover" style="margin-top:20px">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th class="text-center">Precio</th>
                        <th class="text-center">Total</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    @*FILA PRODUCTO*@

                    @*si no hay nada en el carrito*@
                    @if (!Model.Any())
                    {
                        <h4 style="color: red">El carrito esta vacío</h4>
                    }
                    else
                    {
                        foreach (var product in Model)
                        {
                            var price = product.Product.Price;
                            var totalPriceProduct = price * product.Quantity;
                            totalPriceOrder = Decimal.ToInt32(totalPriceOrder) + Decimal.ToInt32(totalPriceProduct);
                <tr id="@product.CartId">
                    <td class="col-sm-8 col-md-6">
                        <div class="media">
                            <a class="thumbnail pull-left" href="~/Product/Details/@product.ProductId"> <img class="media-object" src="@product.Imagen" style="width: 72px; height: 72px;"> </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="~/Product/Details/@product.ProductId">@product.Product.Name</a></h4>
                                @*<h5 class="media-heading"> by <a href="#">@product.Id.ToString()</a></h5>*@
                                <span>Stock: </span><span class="text-success"><strong>@product.Product.UnitsInStock</strong></span>
                            </div>
                        </div>
                    </td>
                    <td class="col-sm-1 col-md-1" style="text-align: center">
                        <input type="text" class="form-control" id="quantityField_@product.Product.Id" value="@product.Quantity">
                    </td>
                    <td class="col-sm-1 col-md-1 text-center"><strong>@price €</strong></td>
                    <td class="col-sm-1 col-md-1 text-center"><strong>@totalPriceProduct €</strong></td>
                    <td class="col-sm-1 col-md-1">
                        <button type="button" class="btn btn-danger remove-cart-item" href="#" data-id="@product.CartId" data-id2="@product.Product.Id" >
                            <span class="glyphicon glyphicon-remove"></span> Quitar
                        </button>
                    </td>
                    <td class="col-sm-1 col-md-1">
                        <button type="button" class="btn btn-warning update-cart-item" href="#" data-id="@product.CartId"  data-quantity="5" data-id2="@product.Product.Id">
                            <span class="glyphicon glyphicon-refresh"></span> Actualizar
                        </button>
                    </td>
                </tr>



                        }

                    }


                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h5>Subtotal</h5></td>
                        <td class="text-right"><h5><strong>@totalPriceOrder €</strong></h5></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h5>Coste envío estimado</h5></td>
                        <td class="text-right"><h5><strong>0 €</strong></h5></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h3>Total</h3></td>
                        <td class="text-right"><h3><strong>@totalPriceOrder €</strong></h3></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>
                            <a href="/Shop" class="btn btn-default">
                                <span class="glyphicon glyphicon-shopping-cart"></span> Sigue comprando
                            </a>
                        </td>

                        <td>
                            @*<button type="button" class="btn btn-warning">
                                Actualizar Carrito <span class="glyphicon glyphicon-play"></span>
                            </button>
                            <br />*@
                            <a href="@Url.Action("PaymentWithPaypal", "ShoppingCart")" class="btn btn-success">
                                Checkout <span class="glyphicon glyphicon-play"></span>
                            </a>


                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>





@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
