﻿@model Eshop.MVC.Models.RoleViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar Rol</h2>

<h3>¿Estás seguro de eliminar el rol?</h3>
<div>
    <h4>@Model.Nombre</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nUsuarios)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nUsuarios)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Volver al listado", "Index")
        </div>
    }
</div>
