﻿@model IEnumerable<Eshop.MVC.Models.RoleViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Administración de Roles</h2>

<p>
    @Html.ActionLink("Crear nuevo", "Create")
</p>


<table class="table" id="roleAdminList">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nUsuarios)
            </th>

            <th></th>
        </tr>

    </thead>
    <tbody>



        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nUsuarios)
                </td>

                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>


