﻿
@{
    ViewBag.Title = "Index";
}



<h2>Panel Administración</h2>
<br />
<h4>Usuarios y Roles</h4>

<a href="@Url.Action("Index", "Users", "Administrator")" class="btn btn-primary">Gestionar Usuarios</a>
<a href="@Url.Action("Index", "Role", "Administrator")" class="btn btn-primary">Gestionar Roles</a>


<h4>Pedidos</h4>
<a href="@Url.Action("Index", "Order", "Administrator")" class="btn btn-primary">Gestionar Pedidos</a>

<h4>Productos</h4>
<a href="@Url.Action("Index", "Product", "Administrator")" class="btn btn-primary">Gestionar Productos</a>
