﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2 class="text-danger">Ha ocurrido un error, contacte con su administrador.</h2>
    </hgroup>
</body>
</html>
