﻿body {
}
.shopping-cart {
    display: inline-block;
    background: url('https://cdn1.iconfinder.com/data/icons/jigsoar-icons/24/_cart.png') no-repeat 0 0;
    width: 24px;
    height: 24px;
    margin: 10px 10px 0 0;
}

.transparent {
    background-color: transparent;
}