﻿@model Eshop.MVC.Models.OrderClientViewModel

@{
    ViewBag.Title = "Details";
    String pedido = Model.Id.ToString();
    var orderItems = Model.OrderDetails.ToList();
    string sOrder = "";

    try
    {
       sOrder = Request.QueryString["data"].ToString();

    }catch(Exception e)
    {
        //no pasa nada porque va sin param
    }



}

<h2>Detalles Pedido ID: @pedido</h2>

@if (sOrder.Equals("OK"))
{
    <div class="alert alert-success">
        <strong>¡Pedido exitoso!</strong> El pedido se ha creado correctamente
    </div>
}

<div>
    @*<h4>OrderClientViewModel</h4>*@



    <hr />

    <form class="form-horizontal">
        <div class="form-group">
            <label for="disabledInput" class="col-sm-2 control-label">Id</label>
            <div class="col-sm-10">
                <input class="form-control" id="disabledInput" type="text" value="@Model.Id" disabled>
            </div>
        </div>
        <div class="form-group">
            <label for="disabledInput" class="col-sm-2 control-label">Fecha</label>
            <div class="col-sm-10">
                <input class="form-control" id="disabledInput" type="text" value="@Model.OrderDate" disabled>
            </div>
        </div>
        <div class="form-group">
            <label for="disabledInput" class="col-sm-2 control-label">Cliente</label>
            <div class="col-sm-10">
                <input class="form-control" id="disabledInput" type="text" value="@Model.FirstName" @Model.LastName disabled>
            </div>
        </div>

        <div class="form-group">
            <label for="disabledInput" class="col-sm-2 control-label">Dirección</label>
            <div class="col-sm-10">
                <input class="form-control" id="disabledInput" type="text" value="Calle @Model.Address, @Model.PostalCode, @Model.City, @Model.Country" disabled>
            </div>
        </div>

        <div class="form-group">
            <label for="disabledInput" class="col-sm-2 control-label">Teléfono</label>
            <div class="col-sm-10">
                <input class="form-control" id="disabledInput" type="text" value="@Model.Phone" disabled>
            </div>
        </div>

        <div class="form-group">
            <label for="disabledInput" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
                <input class="form-control" id="disabledInput" type="text" value="@Model.Email" disabled>
            </div>
        </div>
        <div class="form-group">
            <label for="disabledInput" class="col-sm-2 control-label">Importe Total</label>
            <div class="col-sm-10">
                <input class="form-control" id="disabledInput" type="text" value="@Model.Total€" disabled>
            </div>
        </div>

        <div class="form-group">
            <label for="disabledInput" class="col-sm-2 control-label">ID Pago</label>
            <div class="col-sm-10">
                <input class="form-control" id="disabledInput" type="text" value="@Model.PaymentTransactionId" disabled>
            </div>
        </div>
        <div class="form-group">
            <label for="disabledInput" class="col-sm-2 control-label">Estado</label>
            <div class="col-sm-10">
                <input class="form-control" id="disabledInput" type="text" value="@Model.Status" disabled>
            </div>
        </div>
    </form>

</div>

<div class="container">
    <h3>Elementos del pedido</h3>


    @if (orderItems.Count < 1)
    {
        @Html.Raw("No hay elementos en el pedido");
    }
    else
    {

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                </tr>
            </thead>
            <tbody>

                @for (int i = 0; i < orderItems.Count; i++)
                {

                    <tr>
                        <td>@orderItems[i].Product.Name</td>
                        <td>@orderItems[i].UnitPrice€</td>
                        <td>@orderItems[i].Quantity</td>
                    </tr>

                }

            </tbody>
        </table>
    }






</div>
<p>

    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
    @Html.ActionLink("Volver al listado", "Index")
</p>
