﻿@model IEnumerable<Eshop.MVC.Models.CategoryModelCatalog>

@{    
    int current = 0;
    int.TryParse(Request.QueryString["Category"], out current);
}
<div class="column visible-md visible-lg" style="margin-top:50px">
    <ul class="nav nav-pills nav-stacked">
        @foreach (var category in Model)
        {
            <li class="@(current==category.Id ? "active" : "")"><a href="/Shop?category=@category.Id"><span class="glyphicon glyphicon-chevron-right"></span>@category.Name</a></li>
        }               
    </ul>
</div>
<div class="column hidden-md hidden-lg" style="margin-top:10px">
    <ul class="nav nav-pills">
        @foreach (var category in Model)
        {
            <li class="@(current==category.Id ? "active" : "")"><a href="/Shop?category=@category.Id"><span class="glyphicon glyphicon-chevron-right"></span>@category.Name</a></li>
        }
    </ul>
</div>
