﻿@model IEnumerable<Eshop.MVC.Models.ProductModelCatalog>

@{
    ViewBag.Title = "Index";
}


    <link href="~/Content/catalogo.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" >

    <h2 > Catálogo Productos</h2 >
    <div class="container" >


    <div class="row" >
    @foreach (var product in Model)
        {
             <div class="col-md-3" >
    <div class="ibox" >
    <div class="ibox-content product-box" >
        <div class="product-imitation">

            @if (product.UnitsInStock < 1)
            {
                <img class="Image_@product.Id" src="@product.Imagenes.FirstOrDefault().urlImage" width="200" height="300" style="filter: grayscale(100%);"/>

            }
            else
            {
                <img class="Image_@product.Id" src="@product.Imagenes.FirstOrDefault().urlImage" width="200" height="300" />

            }


        </div>
    <div class="product-desc" >
    <span class="product-price" >
    @Html.Raw(product.Price) €

    </span >
    <small class="text-muted" >
    @Html.Raw(product.Category.Name)
    </small >
    <a href="#" class="product-name" >
    @Html.Raw(product.Name)
    </a >
    @*<div class="small m-t-xs">
                                    Many desktop publishing packages and web page editors now.
                                </div>*@
    <div class="m-t text-righ">

        <a href="/Product/Details/@product.Id" class="btn btn-xs btn-outline btn-primary"> Info <i class="fa fa-long-arrow-right"> </i> </a>


        @if (product.UnitsInStock < 1)
        {
            <button type="button" class="btn btn-danger btn-sm" href="#" data-id="@product.Id">
                Sin Stock
            </button>
        }
        else
        {
            <button type="button" class="btn btn-default btn-sm add-to-cart" href="#" data-id="@product.Id">
                <span class="glyphicon glyphicon-shopping-cart "> </span> Shopping Cart
            </button>
        }


    </div>
    </div >
    </div >
    </div >
    </div >

        }
    </div >
    </div >



