﻿@model Eshop.MVC.Models.OrderAdminViewModel

@{
    ViewBag.Title = "Details";

    var orderItems = Model.OrderDetails.ToList();
}

<h2>Admin</h2>
<h2>Detalles Pedido ID: @Model.Id.ToString()</h2>

<div>
    <h4>OrderListAdmin</h4>
    <hr />

    <form class="form-horizontal">
        <div class="form-group">
            <label for="disabledInput" class="col-sm-2 control-label">Id</label>
            <div class="col-sm-10">
                <input class="form-control" id="disabledInput" type="text" value="@Model.Id" disabled>
            </div>
        </div>
        <div class="form-group">
            <label for="disabledInput" class="col-sm-2 control-label">Fecha</label>
            <div class="col-sm-10">
                <input class="form-control" id="disabledInput" type="text" value="@Model.OrderDate" disabled>
            </div>
        </div>
        <div class="form-group">
            <label for="disabledInput" class="col-sm-2 control-label">Cliente</label>
            <div class="col-sm-10">
                <input class="form-control" id="disabledInput" type="text" value="@Model.FirstName" @Model.LastName disabled>
            </div>
        </div>

        <div class="form-group">
            <label for="disabledInput" class="col-sm-2 control-label">Dirección</label>
            <div class="col-sm-10">
                <input class="form-control" id="disabledInput" type="text" value="Calle @Model.Address, @Model.PostalCode, @Model.City, @Model.Country" disabled>
            </div>
        </div>

        <div class="form-group">
            <label for="disabledInput" class="col-sm-2 control-label">Teléfono</label>
            <div class="col-sm-10">
                <input class="form-control" id="disabledInput" type="text" value="@Model.Phone" disabled>
            </div>
        </div>

        <div class="form-group">
            <label for="disabledInput" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
                <input class="form-control" id="disabledInput" type="text" value="@Model.Email" disabled>
            </div>
        </div>
        <div class="form-group">
            <label for="disabledInput" class="col-sm-2 control-label">Importe Total</label>
            <div class="col-sm-10">
                <input class="form-control" id="disabledInput" type="text" value="@Model.Total€" disabled>
            </div>
        </div>

        <div class="form-group">
            <label for="disabledInput" class="col-sm-2 control-label">ID Pago</label>
            <div class="col-sm-10">
                <input class="form-control" id="disabledInput" type="text" value="@Model.PaymentTransactionId" disabled>
            </div>
        </div>
        <div class="form-group">
            <label for="disabledInput" class="col-sm-2 control-label">Estado</label>
            <div class="col-sm-10">
                <input class="form-control" id="disabledInput" type="text" value="@Model.Status" disabled>
            </div>
        </div>
    </form>

    @*<dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostalCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)€
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentTransactionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentTransactionId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasBeenShipped)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasBeenShipped)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>*@
</div>

<div class="container">
    <h3>Elementos del pedido</h3>


    @if (orderItems.Count < 1)
    {
        @Html.Raw("No hay elementos en el pedido");
    }
    else
    {

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                </tr>
            </thead>
            <tbody>

                @for (int i = 0; i < orderItems.Count; i++)
                {

                    <tr>
                        <td><a href="~/Product/Details/@orderItems[i].Product.Id"> @orderItems[i].Product.Name </a> </td>
                        <td>@orderItems[i].UnitPrice€</td>
                        <td>@orderItems[i].Quantity</td>
                    </tr>

                }

            </tbody>
        </table>
    }






</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Volver al listado", "Index")
</p>
