﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="ImageView.aspx.cs" Inherits="Eshop.Web.Admin.Products.ImageView" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <asp:Image ID="Image1" Height="500px" Width="500px" runat="server" />
</asp:Content>
