﻿@import 'https://fonts.googleapis.com/css?family=Roboto';

* {
    outline: none;
    letter-spacing: 0.8px;
}

body, html {
    margin: 0;
    color: #555;
    user-select: none;
    height: 100%;
}

body {
    font-family: "Roboto", "Microsoft JhengHei", Arial, sans-serif;
}

    body::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        background: url("https://zero-space.s3.amazonaws.com/photos/1daed4af-c439-451a-b6e6-eb1fb7506b55x840.jpg") 50% 50%;
        background-size: cover;
        opacity: 0.7;
    }

.product {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-content: center;
    background-color: #f3f3f3;
    width: 800px;
    height: 400px;
    border: 1px solid #607d8b;
    border-radius: 3px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0 20px 30px rgba(85, 85, 85, 0.2);
}

.product-photo, .product-content {
    float: left;
    width: 50%;
    box-sizing: border-box;
}

/*.product-photo {
    background: url("https://static.pexels.com/photos/90946/pexels-photo-90946-large.jpeg") no-repeat 50% 50%;
}*/

.product-content {
    padding: 15px;
}

    .product-content .infos h3 {
        border-bottom: 1px solid #607d8b;
        color: #607d8b;
        padding-bottom: 15px;
        margin-top: 0;
        margin-bottom: 5px;
        font-weight: normal;
        font-size: 1.5em;
    }

    .product-content .price {
        font-size: 1.5em;
        text-align: right;
        padding-bottom: 15px;
    }

        .product-content .price::before {
            font-size: initial;
        }

    .product-content .actions .qty-box {
        float: left;
    }

        .product-content .actions .qty-box a {
            width: 30px;
            height: 30px;
            border: 1px solid #607d8b;
            border-radius: 3px;
            overflow: hidden;
            display: inline-block;
            text-align: center;
            line-height: 30px;
            margin: 5px;
        }

            .product-content .actions .qty-box a.minus, .product-content .actions .qty-box a.plus {
                border: 0;
                cursor: pointer;
                transition-duration: 0.3s;
            }

                .product-content .actions .qty-box a.minus:hover, .product-content .actions .qty-box a.plus:hover {
                    background-color: rgba(96, 125, 139, 0.1);
                }

            .product-content .actions .qty-box a.qty {
                border-color: rgba(96, 125, 139, 0.5);
            }

    .product-content .actions .cart {
        border: 1px solid #607d8b;
        border-radius: 3px;
        overflow: hidden;
        padding: 10px;
        text-align: center;
        color: #607d8b;
        cursor: pointer;
        position: relative;
        transition-duration: 0.3s;
    }

        .product-content .actions .cart::after {
            content: "";
            width: 0;
            height: 100%;
            background-color: #607d8b;
            position: absolute;
            right: 0;
            top: 0;
            z-index: -1;
            transition-duration: 0.3s;
        }

        .product-content .actions .cart:hover {
            color: white;
        }

            .product-content .actions .cart:hover::after {
                right: auto;
                left: 0;
                width: 100%;
                height: 100%;
            }
