﻿<script src="Scripts/jquery-3.4.1.min.js"></script>
<script src="Scripts/bootstrap.min.js"></script>
<link href="Content/bootstrap.min.css" rel="stylesheet" />



<script src="Scripts/login_register_scripts.js"></script>
<link href="Content/login_register_styles.css" rel="stylesheet" />
<!------ Include the above in your HEAD tag ---------->


<section id="login">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-wrap">
                    <h1>Log in with your email account</h1>
                    <form role="form" action="javascript:;" method="post" id="login-form" autocomplete="off">
                        <div class="form-group">
                            <label for="txtEmail" class="sr-only">Email</label>
                            <input type="email" name="txtEmail" id="txtEmail" class="form-control" placeholder="ejemplo@eshop.com">
                        </div>
                        <div class="form-group">
                            <label for="txtPassword" class="sr-only">Password</label>
                            <input type="password" name="txtPassword" id="txtPassword" class="form-control" placeholder="Password">
                        </div>
                        <div class="checkbox">
                            <span class="character-checkbox" onclick="showPassword()"></span>
                            <span class="label">Mostrar password</span>
                        </div>
                        <input type="submit" id="btnLogin" class="btn btn-custom btn-lg btn-block" value="Log in">
                    </form>
                    <a href="javascript:;" class="forget" data-toggle="modal" data-target=".forget-modal">Forgot your password?</a>
                    <hr>
                </div>
            </div> <!-- /.col-xs-12 -->
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</section>

<div class="modal fade forget-modal" tabindex="-1" role="dialog" aria-labelledby="myForgetModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Recovery password</h4>
            </div>
            <div class="modal-body">
                <p>Type your email account</p>
                <input type="email" name="recovery-email" id="recovery-email" class="form-control" autocomplete="off">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-custom">Recovery</button>
            </div>
        </div> <!-- /.modal-content -->
    </div> <!-- /.modal-dialog -->
</div> <!-- /.modal -->
<!--scripts-->
<script type="text/javascript">
    $(document).ready(function () {

        //Close the bootstrap alert
        $('#linkClose').click(function () {
            $('#divError').hide('fade');
        });

        // Save the new user details
        $('#btnLogin').click(function () {
            $.ajax({
                url: 'http://localhost:64379/Token',
                method: 'POST',
                data: {
                    username: $('#txtEmail').val(),
                    password: $('#txtPassword').val(),
                    grant_type: 'password'
                },
                success: function (response) {

                    //Guardamos el token en la sesion (si cerramos navegador se pierde)
                    sessionStorage.setItem("accessToken", response.access_token);
                    //recogemos username de la sesion
                    sessionStorage.setItem("userName", response.userName);


                    //para que se guarde en el navegador
                    //si lo habilitamos asi habrá que cambiar todos los session por localStorage
                    //localStorage.setItem("accessToken", response.access_token);

                    window.location.href = "/Cliente/OrderList.html";

                },
                error: function (jqXHR) {
                    $('#divErrorText').text('Ha ocurrido un error');

                    $('#divErrorText').text(jqXHR.responseText);
                    $('#divError').show('fade');
                }
            });
        });
    });

</script>


<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p>Eshop M © - 2020</p>
                <p>Powered by <strong><a href="#" target="_blank">Miguel Mur</a></strong></p>
            </div>
        </div>
    </div>
</footer>