﻿<script src="Scripts/jquery-3.4.1.min.js"></script>
<script src="Scripts/bootstrap.min.js"></script>
<link href="Content/bootstrap.min.css" rel="stylesheet" />



<script src="Scripts/login_register_scripts.js"></script>
<link href="Content/login_register_styles.css" rel="stylesheet" />
<!------ Include the above in your HEAD tag ---------->

<section id="login">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-wrap">
                    <h1>Regístrate con tu email</h1>
                    <form role="form" action="javascript:;" method="post" id="login-form" autocomplete="off">
                        <div class="form-group">
                            <label for="txtEmail" class="sr-only">Email</label>
                            <input type="email" name="txtEmail" id="txtEmail" class="form-control" placeholder="ejemplo@eshop.com">
                        </div>
                        <div class="form-group">
                            <label for="txtPassword" class="sr-only">Password</label>
                            <input type="password" name="txtPassword" id="txtPassword" class="form-control" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label for="txtConfirmPassword" class="sr-only">Confirm Password</label>
                            <input type="password" name="txtConfirmPassword" id="txtConfirmPassword" class="form-control" placeholder="Confirm Password">
                        </div>
                        <div class="checkbox">
                            <span class="character-checkbox" onclick="showPassword()"></span>
                            <span class="label">Mostrar password</span>
                        </div>
                        <input type="submit" id="btnRegister" class="btn btn-custom btn-lg btn-block" value="Registrar">
                    </form>

                    <hr>
                </div>
            </div> <!-- /.col-xs-12 -->
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</section>


<!--Bootstrap modal dialog that shows up when regsitration is successful-->
<div class="modal fade" tabindex="-1" id="successModal"
     data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
                <h4 class="modal-title">Success</h4>
            </div>
            <div class="modal-body">
                <form>
                    <h2 class="modal-title">¡Registro Exitoso!</h2>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success"
                        data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<!--Bootstrap alert to display any validation errors-->
<div id="divError" class="alert alert-danger collapse">
    <a id="linkClose" href="#" class="close">&times;</a>
    <div id="divErrorText"></div>
</div>


<!--scripts-->
<script type="text/javascript">
    $(document).ready(function () {

        //Close the bootstrap alert
        $('#linkClose').click(function () {
            $('#divError').hide('fade');
        });

        // Save the new user details
        $('#btnRegister').click(function () {
            $.ajax({
                url: 'http://localhost:64379/api/Account/register',
                method: 'POST',
                data: {
                    email: $('#txtEmail').val(),
                    password: $('#txtPassword').val(),
                    confirmPassword: $('#txtConfirmPassword').val()
                },
                success: function () {
                    $('#successModal').modal('show');
                },
                error: function (jqXHR) {
                    $('#divErrorText').text(jqXHR.responseText);
                    $('#divError').show('fade');
                }
            });
        });
    });
</script>

<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p>Eshop Miguel © - 2020</p>
                <p>Powered by <strong><a href="#" target="_blank">Miguel Mur</a></strong></p>
            </div>
        </div>
    </div>
</footer>