﻿@model IEnumerable<Eshop.MVC.Models.EditUserViewModel>

@{
    ViewBag.Title = "Index";

}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="usersAdminList">
    <thead>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.PostalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostalCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>


                    @*TODO SI SE CREAN MAS X EJEMPLO UN CASE*@
                    @if (item.Role != null)
                    {

                        if (item.Role.ToString().Equals("4f3e92f4-0463-4948-b42a-f1802d94b40e"))
                        {
                            <p>Cliente</p>
                        }
                        if (item.Role.ToString().Equals("11ebac24-473e-48b9-82a4-14930fc845f9"))
                        {
                            <p>Administrador</p>

                        }
                        if (item.Role.ToString().Equals("d99f5881-56e9-470d-b1fe-3245bb03fe77"))
                        {
                            <p>Prueba</p>

                        }
                    }
                    else
                    {
                        <p>-</p>
                    }



                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Ver", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </tbody>


</table>
