﻿@model Eshop.MVC.Models.ProductModelCatalog

@{
    ViewBag.Title = "Details";

    String imageUrl = "";
    var imagenes = Model.Imagenes.ToList();
    var imagesCount = imagenes.Count;

    if (Model.Imagenes.Count > 0)
    {
        imageUrl = Model.Imagenes.First().urlImage;


    }
    else
    {
        //si el producto no tiene imagenes, que ponga una x defecto
        imageUrl = "https://png.pngtree.com/thumb_back/fw800/back_our/20190621/ourmid/pngtree-new-film-premiere-theater-poster-image_195512.jpg";
    }
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link href="~/Content/fichaProducto.css" rel="stylesheet" />


<h2>Ficha:</h2>

<div>

    <div id="mainContainer">
        @*<img id="poster" class="Image_@Model.Id" src="@imageUrl"
            style="width: 40%;
                height: inherit;
                background-size: cover;">*@


        <div class="container" style="width: 40%;
                 height: inherit;
                 background-size: cover;">

            @if (imagesCount > 0)
            {
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    @*por cada imagen creamos un indicador*@

                    <ol class="carousel-indicators">
                        @for (int i = 0; i < imagesCount; i++)
                        {
                            if (i == 0)
                            {

                                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>



                            }
                            else
                            {


                                <li data-target="#myCarousel" data-slide-to="@i"></li>


                            }
                        }



                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        @*<div class="item active">
                        <img src="@imageUrl" style="width:100%;">
                    </div>*@

                        @*Por cada imagen de producto creamos un slider*@
                        @for (int i = 0; i < imagesCount; i++)
                        {
                            if (i == 0)
                            {
                                @:<div class="item active"><img src="@imagenes[i].urlImage" style="width:100%;"></div>
















                            }
                            else
                            {
                                @:<div class="item"><img src="@imagenes[i].urlImage" style="width:100%;"></div>
















                            }

                        }

                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>


            }



        </div>


        <div id="info">
            <img class="Image_@Model.Id" src="@Model.Imagenes.FirstOrDefault().urlImage" width="0" height="0" />

            <h1>@Model.Name</h1>
            <h4>
                @Model.Category.Name | @Model.Duration (mins) | @if (Model.UnitsInStock > 0)
                {<button type="button" class="btn btn-info btn-lg add-to-cart" data-id="@Model.Id">
                        <span class="glyphicon glyphicon-shopping-cart "></span> Añadir al carrito
                    </button> }
                else
                { <button type="button" href="#" class="btn btn-danger" data-id="@Model.Id">Sin Stock</button>}
            </h4>
            <p>@Model.Description</p>
            <div>
                <br />
                @if (Model != null && !String.IsNullOrEmpty(Model.YtURL))
                {
                    <div class="yt_container">

                        @*Video youtube**@
                        <iframe class="responsive-iframe" src="https://www.youtube.com/embed/@(Model.YtURL)" frameborder="0" allowfullscreen></iframe>
                    </div>
                }
                else
                {
                    @Html.Raw("No hay trailer disponible")

                }
            </div>




            <div class="bottom">
                <div style="color:#3498db">
                    <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
                    #eshopMiguel
                </div>
                <div>
                    <div style="width:100px;"><i class="fa fa-youtube-play fa-2x" aria-hidden="true" style="color:#e74c3c"></i><span style="color:#e74c3c"></span></div>
                    <div><i class="fa fa-heart" aria-hidden="true" style="color:#ea4c89"></i><span style="color:#ea4c89"></span></div>
                </div>
            </div>
            <div></div>


        </div>



    </div>




</div>






