﻿
@{
    ViewBag.Title = "Index";
}



<h2>Mi Cuenta</h2>
<br />
<h4>Usuario</h4>

<a href="@Url.Action("Edit", "../Account")" class="btn btn-primary">Editar Cuenta</a>


<h4>Mis Pedidos</h4>
<a href="@Url.Action("Index", "Order", "Client")" class="btn btn-primary">Ver Pedidos</a>


